<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>  AMP Workshop </title>

        <!-- Bootstrap core CSS -->

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">

        <!-- Custom styling plus plugins -->
        <link href="css/custom.css" rel="stylesheet">
        <link href="css/svg.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="css/maps/jquery-jvectormap-2.0.3.css" />
        <link href="css/icheck/flat/green.css" rel="stylesheet" />
        <!--<link href="css/floatexamples.css" rel="stylesheet" type="text/css" />-->

        <script src="js/jquery.min.js"></script>
        <script src="js/nprogress.js"></script>
        <script src="js/Calc.js"></script>
        <script src="js/Structures.js"></script>
        <script src="js/Scales.js"></script>
        <script src="js/Descriptions.js"></script>
        <script src="js/d3.v3.min.js" charset="utf-8"></script>

        <script type="text/javascript" src="js/notify/pnotify.core.js"></script>
        <script type="text/javascript" src="js/notify/pnotify.buttons.js"></script>

        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>-->
        <script src="js/angular.min.js"></script>
        <script src="//code.angularjs.org/1.4.5/angular-route.js"></script>
        <script src="js/init.js"></script>
        <script src="js/Blob.js"></script>

        <!--<script async="" src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"/>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.min.js"></script>
        <!--<script async="" src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"/>-->
        <script type="text/javascript" src="js/FileSaver.js"></script>

        <!--<script src="js/D3ImageExporter.js"></script>-->
        <script src="js/controllers/rootController.js"></script>
        <script src="js/controllers/visualizationController.js"></script>
        <script src="js/controllers/analysisController.js"></script>
        <script src="js/controllers/statisticsController.js"></script>
        <!--[if lt IE 9]>
              <script src="../assets/js/ie8-responsive-file-warning.js"></script>
              <![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
              <![endif]-->

    </head>

    <body class="nav-md" ng-app="myApp" >
        <div ng-controller="rootController" ng-show="false" ng-init="init()"></div>

        
        
        <div class="container body" >
            <form>
                <div class="main_container">
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">

                            <div class="navbar nav_title" style="border: 0;">
                                <a  class="site_title"><i class="fa fa-adn"></i> <span>PSVT</span></a>
                            </div>
                            <div class="clearfix"></div>


                            <br />

                            <!-- sidebar menu -->
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >

                                <div class="menu_section"  > 
                                    <ul class="nav side-menu ">
                                        <!--pull-left-->
                                        <li><a href="#/"><i class="fa fa-home"  ></i> Home <span class="fa fa-chevron-right"></span></a>
                                        </li>

                                        <li class="active"><a href="#visualization"><i class="fa fa-bar-chart-o" ></i> Visualization <span class="fa fa-chevron-right"></span></a>
                                            <!--                                        <ul class="nav child_menu open " style="display: block;" ng-repeat="struc in model.structures" >
                                                                                        <li><a href="" ng-click="model.strucType=struc.key" >{{struc.val}}</a></li>
                                                                                    </ul>-->
                                        </li>
                                        <li class="active"><a href="#statistics"><i class="fa fa-calculator" ></i> Statistics <span class="fa fa-chevron-right"></span></a>
                                        </li>
                                        <li class="active"><a href="#analysis"><i class="fa fa-bar-chart-o" ></i> Analysis <span class="fa fa-chevron-right"></span></a>
                                        </li>                            
<!--                                        <li><a><i class="fa fa-calculator"></i> Data analysis <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none">
                                                <li><a   class="menuDataHydroMom">Hydrophobic moment</a></li>
                                            </ul> 
                                        </li>-->
                                    </ul>
                                </div>


                            </div>

                        </div>
                    </div>

                    <!-- top navigation -->
                    <div class="top_nav">

                        <div class="nav_menu">
                            <nav class="" role="navigation">
                                <div class="nav toggle">
                                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                </div>

                            </nav>
                        </div>

                    </div>
                    <!-- /top navigation -->

                    <div class="ng-view"></div>
                    <!--<ng-view></ng-view>-->
                    <!-- page content -->
           

                </div>

                <!-- footer content -->

                <footer>
                    <div class="copyright-info">
                        <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>  
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->

                    </form>
        </div>
        




    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="js/bootstrap.min.js"></script>

    <!-- gauge js -->
    <!-- bootstrap progress js -->
    <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="js/icheck/icheck.min.js"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="js/moment/moment.min.js"></script>
    <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
    <!-- chart js -->
    <script src="js/chartjs/chart.min.js"></script>

    <script src="js/custom.js"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->


    <!-- worldmap -->
    <script type="text/javascript" src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="js/maps/jquery-jvectormap-us-aea-en.js"></script>
    <!-- pace -->
    <script src="js/pace/pace.min.js"></script>
    <script>

    </script>
    <!-- skycons -->
    <script src="js/skycons/skycons.min.js"></script>

    <!-- /footer content -->

</body>

</html>
